.toast-info {
    background: #007bff !important;
}

.toast-success {
    background: var(--green) !important;
}

.toast-warning {
    background: var(--yellow) !important;
}

.toast-danger {
    background: var(--red) !important;
}

/* general */
.Toastify__close-button--default {
    color: var(--white) !important;
}
.Toastify__toast-container--top-right {
    top: 4em !important;
    z-index: 12;
}
.Toastify__toast {
    border-left: 8px solid #4c4c4c91 !important;
    border-radius: var(--radius) !important;
}
.Toastify__toast-body {
    color: var(--white);
    border-left: 8px solid transparent;
}
